:root {
  --primary: #ffffff;
  --bg-color: rgb(255, 122, 122); 
  --bg-envelope-color: #ffe7e7; 
  --envelope-tab: #ffc2c2;
  --envelope-cover: #ffb7b7;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --txt-color: #444;
  --stamp-color: #ff6f61;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  height: 130vh;
  display: grid;
  place-items: center;
}
.container > .envelope-wrapper{
  background: var(--bg-envelope-color);
  box-shadow: 0 0 40px var(--shadow-color);
}
.envelope-wrapper > .envelope{
  position: relative;
  width: 300px;
  height: 230px;
}
.envelope-wrapper > .envelope::before{
  content: '';
  position: absolute;
  z-index: 2;
  border-top: 130px solid var(--envelope-tab);
  border-right: 150px solid transparent;
  border-left: 150px solid transparent;
  top: 0;
  transform-origin: top;
  transition: all 0.5s ease-in-out 0.7s;
}
.envelope-wrapper > .envelope::after{
  content: '';
  position: absolute;
  z-index: 2;
  border-top: 130px solid transparent;
  border-left: 150px solid var(--envelope-cover);
  border-right: 150px solid var(--envelope-cover);
  border-bottom: 100px solid var(--envelope-cover);
  bottom: 0;
}
.envelope > .letter{
  position: absolute;
  left: 50%;
  right: auto;
  bottom: 0;
  width: 55%;
  height: 80%;
  background: var(--primary);
  transition: bottom 0.6s ease-in-out 0s, transform 0.6s ease-in-out 0s;
  padding: 20px 10px;
  box-shadow: 0 0 10px var(--shadow-color);
  transform: translateX(-50%) scale(1);
  transform-origin: bottom center;
}
.envelope > .letter > .text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 10px;
  color: var(--txt-color);
  text-align: left;
}
.stamp {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35px;
  height: 35px;
  background: var(--stamp-color);
  z-index: 4;
  transform: translate(-50%, -20%) rotate(45deg);
  transition: transform 0.5s ease-in-out 1s;
  border-radius: 15px;
  box-shadow: 0 1px 6px var(--shadow-color);
  cursor: pointer;
}


.flap > .envelope::before{
  z-index: 0;
  transform: rotateX(180deg);
  transition: transform 0.5s ease-in-out 0s;
}
.flap > .envelope .letter{
  bottom: 150px;
  transform: translateX(-50%) scale(1.5);
  transform-origin: bottom center;
  transition: bottom 0.6s ease-in-out 0.6s, transform 0.6s ease-in-out 0.6s;
  z-index: 2;
}
